<div class="card">
    <div class="card-block">
        <div class="card-body">
            <h5 class="card-title"><span class="identificador">{{digimon_individual.id}} </span> {{digimon_individual.name | uppercase}}</h5>
        </div>
        <img [src]="digimon_individual.img" class="img-fluid card-img-top" [alt]="digimon_individual.name" [title]="digimon_individual.name">
        <div class="card-footer">
            <small class="text-muted">{{digimon_individual.level | uppercase}}</small>
        </div>
    </div>
</div>