.card-columns .card {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.card-columns .card:hover {
    box-shadow: 0px 0px 10px #5f7484;
    cursor: pointer;
}

.card-columns .card .card-body .card-title {
    display: flex;
    align-items: center;
}

.card-columns .card .card-body .card-title .identificador {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 100%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background: white;
    border: 2px solid black;
    margin: 0 10px 0 0;
    padding: 5px;
    text-align: center;
}